# --------------------------------------------------------- #
# Note: this file originates in ahmadnassri/template-js-lib #
# --------------------------------------------------------- #

.nyc_output
coverage
node_modules
dist
